* {
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 24, 39);
    color: white;
}

#app {
    width: 60%;
    margin: auto;
}

.games {
    width: 100%;
    border-collapse: collapse;
}

.game {
    padding: 10px 0;
    background: #4b5563;
    border-bottom: solid 3px rgb(17, 24, 39);
}

.game > td {
    padding: 5px;
    text-align: center;
}

.game > td.nicknames {
    text-align: left;
}

.link a {
    color: white;
}
